*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    background-color: black;
    margin: 100px;
}

.container{
    background-color: rgb(233, 247, 220);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10vh auto;
    border-radius: 10px;
}

.screen{
    border-radius: 10px;
}